Please follow the link to reset your password:

  <%= @url %>

If you have problems resetting your password, try copying and pasting the above URL into your browser.  If you still have issues, please contact help@scrawlers.com and we will get you up and running as soon as possible.  

--
The Scrawlers Team
www.scrawlers.com
info@scrawlers.com