Your account has been created.

  Email: <%= @user.email %>

Visit this url to activate your account:

  <%= @url %>

If you have any problems activating your account, try copying and pasting the above URL into your browser.  If you still have issues, please email help@scrawlers.com and we will get you up and running as soon as possible.

--
The Scrawlers Team
www.scrawlers.com
info@scrawlers.com
