<div class="container">
  <div id="header" class="span-24 rounded_bottom">
    <div class="span-13">
      <div class="container">
        <h1 style='display:inline'><%= link_to("Scrawlers", :controller => :home) %></h1> &nbsp;&nbsp; 
      </div>
    </div>
    <div class="span-11 last" style="text-align:right;">
    </div>
    
    <div class="b1"></div><div class="br"></div>
    
  </div>
	
	<%= render :partial => 'shared/subtitle_area' %>
	