<%# TODO: Replace these partials -%>
<%= render(:partial => "application/story_title_list_check_bypass", :locals => {
																:story_list => story_title_list_with_bypass,
											   					:number_to_list => number_to_list,
											 					:bypass_byline => true}) %>