<%- title("Help and support") -%>
<h2>Help</h2>

<p>
Are you having problems using Scrawlers?  Check out our 
<%= link_to "FAQ", :action => :faq %> for tips, hints, and information.
</p>

<p>
Perhaps you'd rather communicate with a real person?  Please <%= help_email_link %> with your questions and comments.
</p>

<p>
  If you'd like to take your support experience to the 140-character limit, catch up with us
  <%= twitter_link("on Twitter") -%>.
</p>
